.Maps-main{
    height: 1402px;
    width: 100vw;
    
}

.seismic-zone{

    margin-top: 85px;
    margin-left :auto;
    margin-right :auto;
    width: 1127px;
    height: 341px;

    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid var(--l1,#EAEAEA);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    transition: transform 0.3s ease;
}

.wind-zone{

    margin-top: 48px;
    margin-left :auto;
    margin-right :auto;
    width: 1127px;
    height: 341px;

    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid var(--l1,#EAEAEA);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    transition: transform 0.3s ease;
}

.snow-zone{

    margin-top: 48px;
    margin-left :auto;
    margin-right :auto;
    width: 1127px;
    height: 341px;

    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid var(--l1,#EAEAEA);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    transition: transform 0.3s ease;
}


.map-photo{

    width: 647px;
    height: 341px;
    flex-shrink: 0;

    border-radius: 16px 0px 0px 16px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxzoiMv2FI4MGPbdHAyha1u9d4FoXgskaEDMQCnHlITA&s") ,lightgray 50% no-repeat;
}

.map-description{

    width: 432px;
    height: 308px;
    
}

.heading{

    width: 242px;
    height: 28px;
    margin-top: 26px;
    margin-bottom: 4px;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.sub-heading{

    width: 164px;
    height: 28px;
    margin-bottom: 16px;
    color: #004494;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

}
.map-text{

    width: 432px;
    height:168px; 
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.28px;
    
}


.seismic-zone:hover,
.wind-zone:hover,
.snow-zone:hover {
  transform: scale(1.1);
}

.map1, .map2 ,.map3{
    text-decoration: none;
  }

